### Builds ###
target/
out/
deployments/**/*.*
.dpl/
webapps/**

### Bower ###
bower_components/
src/main/webapp/WEB-INF/resources/libs
src/main/webapp/WEB-INF/resources/**/LICENSE
src/main/webapp/WEB-INF/resources/**/bower.json
src/main/webapp/WEB-INF/resources/**/package.json
src/main/webapp/WEB-INF/resources/**/README.md

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
build.xml
build.properties

### IntelliJ ###
# http://devnet.jetbrains.com/docs/DOC-1186
.idea/*.xml
!.idea/codeStyleSettings.xml
.idea/*/*

### Secrests ###
id_rsa
