### Builds ###
.dpl
/bower_components
/coverage
/node
/node_modules
/npm-debug.log
/out
/public/lib
/src/main/typings
/target
/typings
debug.log
deployments/**/*.*
webapp.log

### NetBeans ###
build.properties
build.xml
build/
dist/
nbbuild/
nbdist/
nbproject/private/

# IntelliJ
# http://devnet.jetbrains.com/docs/DOC-1186
/.idea/**/*.xml
!/.idea/codeStyleSettings.xml
!/.idea/modules.xml

### Secrets ###
id_rsa
nbactions-dev.xml
nbactions.xml
/src/main/resources/.h2.server.properties
