### Builds ###
/target/
/deployments/**/*.*
.dpl/

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
build.xml
build.properties

### IntelliJ ###
### http://devnet.jetbrains.com/docs/DOC-1186 ###
/.idea/
/.idea/*.xml
